body
{
    font-family: "Raleway",sans-serif;
}



.navbar-nav a:hover
{
	border-bottom: 2px solid grey;
}


#btn1
{
  background-color: rgb(75, 85, 30);
  color: white;
}


#carousel-1
{
	margin-left: 350px;
	z-index: 1;

}

#back
{
	background-color:#e39970;
	
	max-width: 100%;
	margin-top: 150px;
}
	

.card
{
	width: 84%;
	background-color: white;
	border-left: 1px solid snow;
	border-right: 1px solid snow; 
}	
	
	
.card-header
{
	border-top: 1px solid grey;
	
}

.card-title
{
	font-weight: bold;
}

.card-body
{
	font-weight: 300;
}
#color
{
	font-weight: 400;
	color: rgb(20, 80, 77);

}



#btn_small
{
	font-size: 14px;
}
#footer
{
	background-color: #455d58;
	color: white;
	padding: 40px;
	
	font-weight: 100;
}

#footer a
{
	color: white;
}

#copyright
{
	padding-top: 70px;
}



.animate-1, .animate-2, .animate-3, .animate-4,.animate-5
{
	opacity: 0;

}
.animate-1.animated, .animate-2.animated,.animate-3.animated,.animate-4.animated,.animate-5.animated
{
	opacity: 1;
}