
body
{
    font-family: "Raleway",sans-serif;
}

.navbar-nav a:hover
{
	border-bottom: 2px solid grey;
}


#btn1
{
  background-color:rgb(20, 80, 77);
  color: white;
  
}
li
{
  font-size: 15px;
}
#greyscale
{
	width: 100%;
	height: 680px;
	filter: brightness(40%);
	
	opacity: 0.8;
	z-index: 1;

	
}
.parent
{
	position: relative;
	z-index: 1;
}
#resort
{
  position: absolute;
  top: 9%;
  left: 25%;
  width: 800px;
  height: 480px;
  z-index: 2;
}
figcaption
{

	top: 20%;
	left: 15%;
	color: white;
	z-index: 3;
	position: absolute;
	line-height: 1em;
	font-weight: 200;
}

#btn2
{
	z-index: 3;
	position: absolute;
	top: 55%;
	left: 15%;
	color: white;
	font-size: 17px;
	
}


#spa
{
   background-image: url('https://images.unsplash.com/photo-1556808577-d7b11ce18ec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); 
    margin-top: 150px; 
    padding-top: 200px;
     width: 100%; 
     padding-bottom:350px; 
     filter: brightness(40%);
     background-size: cover;
     position: relative;
     opacity: 0.9;
     background-position: 20% 20%;

}

#spa1
{  
	position: absolute;
	top: 430%;
	left: 12%;

}

#learn
{
	color: grey;
	text-decoration-line: underline;
	

}

#second
{
	font-size: 39px;
	color:grey;
	font-family: sans-serif;
	text-align: center;

}


.carousel
{
	
	height: 800px;
	width: 800px;
	z-index: 4;
	position: absolute;
	top: 160%;
	left: 23%;
	

}
#third
{
	position: absolute;
	top: 245%;
	left: 15%;
}


#fourth
{
	background-color: #1457ba;
    margin-top: 350px;
	height: 900px;
	width: 100%;
	
}

.jumbotron
{
	filter: grayscale(50%);
}

.card
{

  border: 1px solid #faf7f2;
  width: 440px;
  margin-left: 50px;

	
}

#footer
{
	background-color: #455d58;
	color: white;
	padding: 40px;
	
	font-weight: 100;
}

#footer a
{
	color: white;
}

#copyright
{
	padding-top: 70px;
}







.animate-1, .animate-2, .animate-3, .animate-4, .animate-5, .animate-6,.animate-7
{
	opacity: 0;

}
.animate-1.animated, .animate-2.animated,.animate-3.animated,.animate-4.animated,.animate-5.animated,
.animate-6.animated,.animate-7.animated
{
	opacity: 1;
}